rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    /**
     * NEBULA FINANCE SECURITY RULES (PUBLIC ACCESS PROTOCOL)
     */

    match /users/{userId}/categories/{categoryId} {
      allow read, write: if true;
    }

    match /users/{userId}/transactions/{transactionId} {
      allow read, write: if true;
    }

    match /users/{userId}/establishments/{establishmentId} {
      allow read, write: if true;
    }

    match /users/{userId}/products/{productId} {
      allow read, write: if true;
    }

    match /users/{userId}/price_entries/{entryId} {
      allow read, write: if true;
    }

    match /{path=**} {
      allow read, write: if false;
    }
  }
}